.page {
  width: 100vw;
  height: 1800px;
  padding: 4rem 1rem 6rem;
  background-image: url("/assets/images/industrial-mockup.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-color: rgb(53, 50, 46);
  border-radius: 8px;
  max-width: 1200px;
  margin: auto;
  padding: 32px 0px;
}

.hero {
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-bottom: 24px;
  /* margin: 0 auto 4rem; */
  text-align: center;
}

.hero h1 {
  font-size: clamp(2rem, 4vw, 2.75rem);
  font-weight: 700;
  color: white;
  margin-bottom: 12px;
}

.hero p {
  margin-top: 1rem;
  color: var(--neutral-200);
  width: 90%;
  margin: auto;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}

.section h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
}

/* Ajustes a listas dentro del accordion */
.section ul {
  padding-left: 1.2rem;
  margin: 0.5rem 0;
}

.section li {
  list-style: disc;
  margin-bottom: 0.4rem;
}

@media (min-width: 640px) {
  .page {
    height: 1300px;
  }

  .hero h1 {
    margin-bottom: 12px;
  }

  .hero p {
    margin: auto;
  }

  .section h2 {
    font-size: 2rem;
    text-align: left;
  }
}
