.mainContent {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: var(--neutral-200);
}

.bgUrl {
  width: 100%;
  height: 250px;
  background-image: url("/assets/images/mesaPan.png");
  background-position: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  border-radius: 8px;
  padding: 24px;
  background-color: var(--color-neutral-translucid);
}

.additionalText{
  width: 100%;
  height: 200px;
}

.additionalText p{
  width: 90%;
  margin: auto;
  color: var(--primary-900);
  line-height: 1.6;
  text-align: center;
}