.mainContent {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.bgUrl {
  width: 100%;
  height: 250px;
  background-image: url("/assets/images/mesaPan.png");
  background-position: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  border-radius: 8px;
  padding: 24px;
  background-color: var(--color-neutral-translucid);
}
