.section {
  width: 100vw;
  min-height: 100vh;
  padding: 100px 24px;
  background: var(--bg-gradient);
}

.title {
  color: var(--color-secondary);
  text-align: center;
  margin-bottom: 48px;
}

.main {
  max-width: 932px;
  width: 100%;
  margin: auto;
}

@media (min-width: 640px) {
  .title {
    font-size: 48px;
  }
}
