.button {
  width: 100%;
  height: 46px;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.1rem;
  transition: background-color 0.2s ease;
}

.btnBrown {
  background-color: var(--color-primary);
}

.btnBrown:hover {
  background-color: var(--color-secondary-hover);
}

.btnBlue {
  background-color: var(--color-blue);
}

.btnBlue:hover {
  background-color: var(--color-blue-hovered);
}

.buttonText {
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
}
