.button {
  width: 267px;
  height: 46px;
  border-radius: 24px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.1rem;
  transition: background-color 0.2s ease;
}


.button:hover {
  background-color: var(--color-secondary-dark);
}

.buttonText {
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
}
