.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* font sizes */

.text-size-10 {
    font-size: 10px;
}

.text-size-12 {
    font-size: 12px;
}

.text-size-14 {
    font-size: 14px;
}

.text-size-16 {
    font-size: 16px;
}

.text-size-18 {
    font-size: 18px;
}

.text-size-20 {
    font-size: 20px;
}

.text-size-22 {
    font-size: 22px;
}

.text-size-24 {
    font-size: 24px;
}

.text-size-26 {
    font-size: 26px;
}

.text-size-28 {
    font-size: 28px;
}

.text-size-30 {
    font-size: 30px;
}

.text-size-32 {
    font-size: 32px;
}

.text-size-34 {
    font-size: 34px;
}