:root {
  /* Brand */

  /* --color-base:  */

  /* --color-primary: #00353ef5; */
  --color-primary: #613924;
  --color-primary-soft: #74522b;
  --color-primary-dark: #372015;

  --primary-900: #431f13;
  --primary-800: #532d1d;
  --primary-700: #613924;
  --primary-600: #71452d;
  --primary-500: #7c4f33;
  --primary-400: #92684e;
  --primary-300: #a9826b;
  --primary-200: #c7a491;
  --primary-100: #e5c7b6;
  --primary-50: #fde7d7;

  --neutral-900: #1f1b18; /* texto fuerte */
  --neutral-800: #2a2521;
  --neutral-700: #3a332d;
  --neutral-600: #5a524b;

  --neutral-400: #9c938b;
  --neutral-300: #c7beb6;
  --neutral-200: #e6dfd9;
  --neutral-100: #f3efe9;
  --neutral-50: #faf8f5;

  --accent-wheat-700: #9a6b1a;
  --accent-wheat-600: #b17d24;
  --accent-wheat-500: #c28e34;
  --accent-wheat-300: #e2c27d;
  --accent-wheat-100: #f7edd6;

  --color-primary-translucid: #61392488;
  --color-neutral-translucid: #6b6662a2;


  --color-white: white;

  --color-secondary: var(--primary-500);
  --color-secondary-hover: var(--primary-600);

  --bg-gradient: linear-gradient(
    190deg,
    rgba(97, 57, 36, 1) 0%,
    rgba(124, 79, 51, 1) 24%,
    rgba(146, 104, 78, 1) 60%,
    rgba(229, 199, 182, 1) 100%
  );

  --hover-section: #39858162;

  /* forms */

  --color-border: var(--primary-400);
}
