.cardsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  background-color: white;
  box-shadow: 0px 0px 1px #00000061;
  overflow: hidden;
  cursor: pointer;
}

.contentCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 24px;
}

.productPresentation {
  width: max-content;
  border: 1px solid var(--color-secondary);
  padding: 2px 8px;
  border-radius: 24px;
  background-color: var(--color-secondary);
  color: white;
}

.title {
  color: var(--color-secondary);
  font-size: 24px;
}

.description {
  color: var(--color-text-muted);
}

.imageCardContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
}

@media (min-width: 640px) {
  .cardsSection {
    flex-direction: row;
    align-items: start;
  }

  .card {
    width: 300px;
  }
}
