.content {
  width: 100vw;
  background: var(--bg-gradient);
}

.inner {
  width: 100%;
  min-height: 100vh;
  /* height: 100vh; */
}

.productContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imageContainer {
  width: 100%;
  height: 450px;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.contentProduct {
  padding: 24px;
}

.productTitle {
  color: var(--accent-wheat-500);
  font-size: 24px;
  text-align: center;
  margin-bottom: 2rem;
}

.productDescription {
  color: var(--neutral-100);
  text-align: center;
  margin-bottom: 24px;
}

.subtitle {
  color: var(--accent-wheat-500);
  /* color: var(--color-secondary); */
}

.listColor {
  color: white;
  margin-bottom: 4px;

  
}

.iconContainer{
  display: flex;
  align-items: center;
  gap: 8px;
}


@media (min-width: 640px) {
  .content {
    padding: 48px 0;
  }

  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 24px;
  }

  .contentProduct {
    max-width: 700px;
  }

  .productTitle {
    font-size: 42px;
  }

  .productContainer {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .imageContainer {
    width: 50%;
    height: 500px;
    border-radius: 24px;
    border: none;
    box-shadow: var(--shadow-sm);
  }

  .productBenefits,
  .advantages,
  .moreInfo {
    padding: 24px;
    border-radius: 24px;
    margin-bottom: 24px;
    background-color: #46424262;
    transition: 0.5s ease-in-out;
  }

  .fadeInLeft {
    opacity: 0;
    transform: translateX(-100px);
    animation: fadeIn 2s ease forwards;
  }

  .fadeInRight {
    opacity: 0;
    transform: translateX(100px);
    animation: fadeIn 2s ease forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
