.pageContent {
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 94px 12px 0 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.first {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 12px;
  max-width: 1366px;

  position: relative;
}

.backButton {
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
  left: 20px;
}

.backButton p {
  font-size: 16px;
}

.productData {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.productTitle {
  color: white;
  font-size: 38px;
  text-align: center;
}

.productSubtitle {
  text-align: center;
  font-size: 20px;
  color: white;
}

.productDescription {
  display: block;
}

.productDesktopDescription {
  display: none;
}

.productDescription,
.productDesktopDescription {
  font-size: 16px;
  text-align: justify;
  color: white;
  font-weight: 400;
}

.productImage {
  border-radius: 12px;
  margin: 8px auto;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.productDetailContent {
  width: 100%;
  height: max-content;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 24px;
  max-width: 1440px;
  margin: auto;
}

.sectionContainer {
  width: 100%;
  padding: 48px 0;
}

.productBenefitsTitle,
.applicationTitle,
.ingredientTitle,
.productDosisTitle,
.advantagesTitle {
  color: white;
  font-size: 32px;
  padding: 0 24px;
  text-align: center;
}

.applicationTitle,
.ingredientTitle {
  margin-bottom: 18px;
}

.productDosisTitle,
.advantagesTitle {
  padding: 24px 24px 0 24px;
}

.productBenefits,
.instructionsAndApplicationsContainer {
  max-width: 1366px;
  width: 100%;
  margin: auto;
  padding: 48px;
}

.sectionRibbon,
.doseInner,
.advantagesInner {
  width: 100%;
  padding: 24px 16px;
}

.benefitsContainer,
.doseContainer,
.advantagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.benefitElement,
.doseElement,
.vantageElement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconElement {
  width: 90px;
  height: 90px;
}

.icon {
  width: inherit;
  height: inherit;
  margin: auto;
  overflow: auto;
}

.benefitDescription,
.doseDescription,
.vantageDescription {
  color: white;
}

/* applications */

.instructionsAndApplicationsContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 24px;
}

.applicationTitle,
.ingredientTitle {
  padding: 0;
}

.applicationDescription {
  font-size: 18px;
}

.application,
.ingredients {
  width: 100%;
}

.ingredientElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.ingredientIcon {
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  max-height: 488px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.contactFormContent,
.carouselContainer {
  width: 100%;
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 40px;
}

.contactFormContent {
  padding: 38px 24px;
  max-width: unset;
  background-color: var(--neutral-100);
}

.contactFormTitle {
  font-size: 42px;
}

@media (min-width: 640px) {
  .first {
    width: 100%;
    flex-direction: row;
    margin-bottom: 24px;
  }

  .productDescription {
    display: none;
  }

  .productDesktopDescription {
    display: block;
    /* margin: 24px auto; */
  }

  .productData {
    width: 100%;
    z-index: 2;
  }

  .productTitle {
    font-size: 80px;
    text-align: left;
  }

  .productSubtitle {
    text-align: left;
    font-size: 30px;
  }

  .productDesktopDescription {
    font-size: 18px;
  }

  .productImage {
    width: 100%;
  }

  .applicationTitle,
  .ingredientTitle {
    text-align: left;
  }

  .productBenefitsTitle,
  .productDosisTitle,
  .advantagesTitle {
    width: 100%;
    max-width: 1366px;
    margin: 24px auto;
    text-align: left;
    word-break: break-all;
  }

  .sectionRibbon {
    padding: 28px;
  }

  .benefitsContainer,
  .doseContainer,
  .advantagesContainer {
    flex-direction: row;
    align-items: start;
  }

  .doseContainer,
  .advantagesContainer {
    gap: 48px;
  }

  .benefitElement,
  .doseElement,
  .vantageElement {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .doseElement,
  .vantageElement {
    /* max-width: 300px; */
  }

  .benefitDescription,
  .applicationDescription,
  .ingredientDescription,
  .doseDescription,
  .vantageDescription {
    text-align: center;
    font-size: 18px;
  }

  .applicationDescription,
  .ingredientDescription {
    text-align: left;
  }

  .instructionsAndApplicationsContainer {
    flex-direction: row;
    justify-content: center;
    padding: 48px 24px;
  }

  .ingredientElement {
    max-width: 400px;
    font-size: 18px;
  }
}
