.mainPageLayout {
  width: 100vw;
  height: 100%;
}

.screen {
  width: 100vw;
  height: 100vh;
}

.firstContent {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/assets/images/panaderiaIndustrial.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  z-index: 0;
  overflow: hidden;
}

.mainTitleContent {
  width: 100%;
  height: 100%;
}

.mainOverlay {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-translucid);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.mainTitle {
  width: max-content;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 12px;
  animation: slideInLeft 2s ease-out both;
}

.mainSubtitle {
  text-align: center;
  animation: slideInBottom 2s ease-out both;
}

.secondContent,
.productDetailContent {
  width: 100vw;
  background-color: var(--neutral-100);
}

.productDetailContent {
  background-color: white;
}

@media (min-width: 640px) {
  .firstContent {
    background-size: cover;
  }
}

/* animations */

@keyframes slideInLeft {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
