.mainPageLayout {
  width: 100vw;
  height: 100%;
}

.screen {
  width: 100vw;
  height: 100vh;
}

.firstContent {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/assets/images/panaderiaIndustrial.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  z-index: 0;
  overflow: hidden;
}

.mainTitleContent {
  width: 100%;
  height: 100%;
}

.mainOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(65, 34, 5, 0.327);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.mainTitle {
  font-size: 40px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 12px;
  animation: slideInLeft 2s ease-out both;
}

.mainSubtitle {
  font-size: 18px;
  text-align: center;
  animation: slideInBottom 2s ease-out both;
}

.secondContent {
  width: 100vw;
  /* background: var(--bg-gradient); */
}

.ribbonProducts {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("/assets/images/cintillo-industrial.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px;
}

.ribbonLayer1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(212, 210, 194, 0.532);
  z-index: 1;
}

.ribbonLayer2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleRibbon {
  font-size: 28px;
  text-align: center;
  color: var(--neutral-700);
}

@media (min-width: 640px) {
  .mainOverlay {
    /* width: 50%; */
  }

  .mainTitle {
    width: 100%;
    font-size: 48px;
  }

  .mainSubtitle {
    font-size: 20px;
    text-align: center;
    max-width: 500px;
  }

  .firstContent {
    background-size: cover;
  }

  .ribbonProducts {
    height: 400px;
    padding: 24px;
  }

  .titleRibbon {
    width: 80%;
    margin: auto;
    font-size: 48px;
  }
}

/* animations */

@keyframes slideInLeft {
  from {
    transform: translateX(1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
