.mainPageLayout {
  width: 100vw;
}

.frontPage {
  width: 100%;
  height: 450px;
  position: relative;
  background-image: url("/assets/images/mesaIndustrial.png");
  background-position: center left;
}

.overlayContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 90px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-image: linear-gradient(
    50deg,
    rgb(62, 56, 53) 0%,
    rgba(53, 46, 43, 0.73) 20%,
    rgba(101, 95, 93, 0.43) 50%,
    rgba(135, 130, 130, 0) 100%
  );
  z-index: 1;
}

.separator {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background-color: white;
  z-index: 2;
}

.firstContent {
  width: 100%;
  height: 100%;
}

.mainTitle {
  width: 100%;
  font-size: 28px;
  color: white;
  font-size: 48px;
  margin-bottom: 8px;
  text-align: center;
}

.mainSubtitle {
  font-size: 28px;
  color: white;
  text-align: center;
  width: 100%;
  display: none;
}

.carouselTitleContact{
  width: 100%;
  height: 100%;
  padding: 0 24px;
}

.carouselTitle {
  text-align: center;
  font-size: 32px;
  color: var(--blue-600);
  text-wrap: balance;
}

.secondContent {
  width: 100vw;
}

.ribbonProducts {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("/assets/images/cintillo-artesanal.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px;
}

.ribbonLayer1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(222, 214, 101, 0.496);
  z-index: 1;
}

.ribbonLayer2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleRibbon {
  font-size: 28px;
  text-align: center;
  color: var(--color-primary);
}

.blankRibbon {
  width: 100%;
  height: 300px;
  background-image: url("/assets/images/panaderiaIndustrial.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.contactSpace {
  width: 100%;
  height: 400px;
  display: flex;
  padding: 24px 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.contactTitle {
  font-size: 32px;
  text-align: center;
  color: var(--blue-500);
  font-weight: 600;
}

.contactSubtitle {
  font-size: 16px;
  word-wrap: balance;
  /* color: var(--blue-500); */
}

.contactContent {
  text-align: center;
}

.btnContent {
  max-width: 300px;
  margin: auto;
  margin-top: 24px;
}

@media (min-width: 640px) {
  .overlayContainer {
    padding: 48px;
  }

  .mainTitle {
    width: 100%;
    /* font-size: 80px; */
    text-align: left;
  }
  .mainSubtitle {
    font-size: 20px;
    text-align: left;
    max-width: 450px;
    display: block;
  }

  .separator {
    height: 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: white;
  }

  .carouselTitle {
    font-size: 60px;
    display: none;
  }

  .contactTitle{
    font-size: 48px;
    max-width: 1116px;
  }

   .contactSubtitle {
    font-size: 26px;
    max-width: 910px;
  }
}

/* animations */

@keyframes slideInLeft {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
