.carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.firstScreen,
.secondScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-position: right;
  background-size: cover;
}



.secondScreen {
  height: calc(100vh - 90px);
}

.categoriesStyles {
  width: 100vw;
  height: 200px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.799);
  /* background-color: var(--neutral-100); */
  /* background-image: url('/assets/images/cintillo-principal.png'); */
  background-position: top center;
}

.categoriesTitle {
  font-size: 28px;
  /* color: var(--primary-500); */
  color: white;
}

.firstLayer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  z-index: 1;
}

.craftLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-position: center bottom;
  background-size: 120% 45%;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: opacity var(--fade-ms, 1000ms) ease;
}

.thirdLayer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.mainTitleContainer {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.mainTitleRibbon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
  padding: 24px;
}

.bg-brown-overlay {
  background-color: var(--color-primary-translucid) !important;
}

.bg-neutral-overlay {
  background-color: var(--color-neutral-translucid) !important;
}

.mainTitle {
  font-size: 48px;
  margin-bottom: 8px;
  animation: slideInLeft 2s ease-out both;
}

.mainSubtitle {
  font-size: 14px;
  text-align: center;
  margin-bottom: 12px;
  animation: slideInBottom 2s ease-out both;
}

.buttonStyle {
  animation: slideInBottom 2s ease-out both;
}

.presentation {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.titlePresentation {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* SECCION DE CATEGORIAS */

.industrialSection,
.craftSection {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.industrialSection {
  background-image: url("/assets/images/panaderiaArtesanal.png");
}

.craftSection {
  background-image: url("/assets/images/panaderiaIndustrial.png");
}

.industrialOverlay,
.craftOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.192);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 48px;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
}

.craftOverlay {
  justify-content: flex-start;
  align-items: flex-end;
}

.industrialOverlay:hover,
.craftOverlay:hover {
  transition: all ease-in-out 0.15s;
  transform: scale(1.01);
}

.industrialOverlay:hover {
  background-color: var(--color-neutral-translucid);
}

.craftOverlay:hover {
  background-color: var(--color-primary-translucid);
}

.industrialText,
.craftText {
  padding: 24px 32px;
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.industrialText {
  background-color: var(--neutral-600);
}

.craftText {
  background-color: var(--primary-600);
}

.industrialText h2,
.craftText h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.craftText span,
.industrialText span {
  font-size: 10px;
}

.industrialText:hover {
  background-color: var(--neutral-400);
}

.craftText:hover {
  background-color: var(--primary-400);
}

.subtitle {
  color: var(--color-text);
  font-size: 14;
  line-height: 1.5;
  text-align: center;
}

.scrollBtn {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .firstLayer,
  .thirdLayer {
    display: flex;
    flex-direction: row;
  }

  .craftLayer {
    background-position: center;
    background-size: cover;
  }

  .mainTitleContainer {
    align-items: flex-start;
    height: 100%;
    position: relative;
    /* padding: 0 0 0 48px; */
  }

  .mainTitleRibbon {
    width: max-content;
    height: 100%;
    /* background-color: var(--color-primary-translucid); */
  }

  .mainTitle {
    font-size: 68px;
    animation: slideInLeft 2s ease-out both;
  }

  .mainSubtitle {
    text-align: left;
    font-size: 18px;
    max-width: 500px;
    font-family: var(--font-nunito);
    animation: slideInBottom 2s ease-out both;
    margin-bottom: 40px;
    text-align: center;
  }

  .categoriesTitle {
    font-size: 38px;
    max-width: 1120px;
  }

  .industrialSection {
    width: 50%;
    height: 100%;
    background-image: url("/assets/images/panaderiaIndustrial.png");
    background-size: cover;
    background-position: center;
  }

  .craftSection {
    width: 50%;
    height: 100%;
    background-image: url("/assets/images/panaderiaArtesanal.png");
    background-position: center;
  }

  .industrialText,
  .craftText {
    padding: 24px 50px;
  }

  .industrialText h2,
  .craftText h2 {
    font-size: 18px;
  }

  .industrialText p,
  .craftText p {
    font-size: 12px;
  }

  .videoSection {
    padding: 24px;
  }

  .videoContainer {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border-radius: 8px;
  }
}

/* animations */

@keyframes slideInLeft {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Accesibilidad */

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  .layer {
    transition: none;
  }
}
