.carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.principal {
  width: 100vw;
  height: 100vh;
}

.firstScreen,
.secondScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-size: cover;
}

.secondScreen {
  height: calc(100vh - 90px);
}

.whiteSpace {
  width: 100vw;
  height: 150px;
  background-color: white;
}

.categoriesStyles,
.carouselContainer {
  width: 100vw;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: top center;
}

.carouselContainer {
  background-color: white;
}

.categoriesTitle,
.carouselTitle {
  font-size: 24px;
  text-align: center;
  color: var(--blue-500);
}

/* SECCION DE CATEGORIAS */

.industriesSection {
  width: 100vw;
  height: 100vh;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.craftContainer,
.industrialContainer {
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px 0px rgba(88, 57, 19, 0.5);
  color: white;
}

.industrialSection,
.craftSection {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.craftVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.craftOverlay,
.industrialOverlay {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-image: linear-gradient(
    228deg,
    rgba(97, 57, 36, 1) 0%,
    rgba(102, 57, 36, 0.73) 20%,
    rgba(102, 57, 36, 0.43) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 24px;
}

.industrialOverlay {
  width: 50%;
  right: unset;
  left: 0;
  border-radius: 8px;
  background-image: linear-gradient(
    50deg,
    rgba(97, 57, 36, 1) 0%,
    rgba(102, 57, 36, 0.73) 20%,
    rgba(102, 57, 36, 0.43) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.craftOverlayContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.craftOverlayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.craftTitle,
.craftSubtitle {
  font-size: 26px;
  text-align: center;
  max-width: 220px;
}

.craftSubtitle {
  font-size: 15px;
}

.craftButton,
.industrialButton {
  width: max-content;
  height: 45px;
  background-color: var(--primary-500);
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 12px;
}

.craftButton:hover {
  background-color: var(--primary-400);
}

.industrialButton {
  background-color: var(--neutral-200);
  color: var(--color-primary);
}

.industrialButton:hover {
  background-color: var(--neutral-100);
}

@media (min-width: 640px) {
  .categoriesStyles,
  .carouselContainer {
    padding: 48px 48px 0 48px;
    height: auto;
  }

  .categoriesTitle,
  .carouselTitle {
    font-size: 48px;
    max-width: 1020px;
    text-align: center;
    margin: auto;
  }

  .industriesSection {
    gap: 48px;
    flex-direction: column;
    padding: 48px;
    height: max-content;
  }

  .craftContainer,
  .industrialContainer {
    height: 500px;
    max-width: 1366px;
    margin: auto;
  }

  .craftOverlay:hover,
  .industrialOverlay:hover {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.04);
    transition: all 0.2s ease-in-out;
    color: var(--blue-500);
  }

  /* .industrialOverlay{
    width: 50%;
    margin: auto;
    margin-right: 0;
  } */

  .ultrapanSize {
    font-size: 52px;
  }

  .craftTitle {
    font-size: 48px;
    text-align: center;
    max-width: unset;
  }

  .craftSubtitle {
    font-size: 24px;
    max-width: max-content;
  }

  .craftVideo {
    width: 100%;
  }
}

/* animations */

@keyframes slideInLeft {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Accesibilidad */

.show {
  opacity: 1;
  pointer-events: auto;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

@media (prefers-reduced-motion: reduce) {
  .layer {
    transition: none;
  }
}
