.carousel {
  width: 100%;
  overflow: auto;
  height: 100vh;
  background-color: black;
}

.content {
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
}

.inner {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.inner .imageContainer {
  width: 100%;
  height: 450px;
  border-radius: 8px;
}

.imageContainer .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner .mainTextContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
}

.title {
  color: var(--color-secondary);
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  line-height: 1.5;
  text-align: center;
}

.subtitle {
  color: var(--color-text);
  font-size: 14;
  line-height: 1.5;
  text-align: center;
}

.banner {
  width: 100%;
  height: 120px;
  background-color: azure;
}

@media (min-width: 640px) {
  .content {
    padding: 48px 24px;
  }

  .inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .inner .imageContainer {
    position: absolute;
    left: 11%;
    bottom: 10%;
    width: 40%;
    height: 600px;
    /* background-color: lightgray; */
    z-index: 2;
    border: 24px solid var(--color-white);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  }

  .inner .mainTextContainer {
    position: absolute;
    left: 50%;
    width: 40%;
    margin: auto;
    padding: 48px;
    height: 400px;
    justify-content: center;
    gap: 24px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 1;
  }

  .title {
    font-size: 24px;
    text-align: left;
  }

  .subtitle {
    font-size: 14px;
    text-align: left;
  }
}
