.wrapper {
  width: 100%;
  height: 100%;
}

.swiperLayout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.slide {
  display: flex;
  width: 100%;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.swiperLayout :global(.swiper) {
  width: 100%;
}

.swiperLayout :global(.swiper-button-next),
.swiperLayout :global(.swiper-button-prev) {
  color: white;
  border-radius: 12px;
  padding: 12px;
}

.swiperLayout :global(.swiper-button-prev:hover),
.swiperLayout :global(.swiper-button-next:hover) {
  background-color: var(--neutral-100);
  opacity: 0.5;
}

.frontPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 24px;
  background-color: var(--primary-600);
}

.slideContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 20px 0px rgba(88, 57, 19, 0.5);
  background-position: center;
}

.mobileFront {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 2;
}

.mobileContent {
  width: 100%;
  padding: 120px 0 0 0; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContent {
  padding: 16px;
  width: 100%;
  height: 200px;
}

.infoProductContainer {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitleContainer {
  width: 100%;
  height: 100%;
}

.mainTitleRibbon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
  padding: 24px;
  background-color: var(--primary-600);
}

.mainSubtitle,
.mainSubtitle2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
  line-height: normal;
  text-align: center;
  text-wrap: balance;
  animation: slideInLeft 2s ease-out both;
  color: white;
}

.bg-brown-overlay {
  background-color: var(--primary-600);
}

.mainTitle {
  text-align: center;
  font-size: 48px;
  margin-bottom: 8px;
  animation: slideInLeft 2s ease-out both;
  color: white;
}

.mainSubtitle2 {
  margin-bottom: 0;
  text-align: center;
  margin-bottom: unset;
}

.actionButtonContainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 16px;
}

.buttonStyle {
  width: 300px;
  animation: slideInBottom 2s ease-out both;
}

@media (min-width: 768px) {
  .swiperLayout {
    width: 100%;
    min-height: 400px;
  }
  .image {
    width: 100%;
    border-radius: 12px;
    object-fit: none;
  }

  .overlayContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .frontPage {
    justify-content: flex-start;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 48px 68px;
    position: relative;
  }

  .mainTitleContainer {
    align-items: flex-start;
    height: 100%;
    padding: 48px;
  }

  .mainTitleRibbon {
    width: max-content;
    height: 100%;
    background-color: transparent;
  }

  .mainTitle {
    font-size: 58px;
    animation: slideInLeft 2s ease-out both;
  }

  .mainSubtitle,
  .mainSubtitle2 {
    text-align: left;
    font-size: 16px;
    max-width: 320px;
    animation: slideInLeft 2s ease-out both;
    margin-bottom: 40px;
    text-align: center;
  }

  .mainSubtitle2 {
    margin-bottom: 0;
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  .mainTitle {
    font-size: 80px;
  }

  .mainSubtitle,
  .mainSubtitle2 {
    font-size: 18px;
    max-width: 400px;
  }
}

@media (min-width: 1366px) {
  .mainTitle {
    font-size: 120px;
  }

  .mainSubtitle,
  .mainSubtitle2 {
    font-size: 24px;
    max-width: 450px;
    /* text-align: justify; */
  }
}

.balanceText {
  text-align: center;
  text-wrap: balance;
}
