.section, .benefits {
  width: 100vw;
  min-height: 100vh;
  background: var(--bg-gradient);
  padding: 90px 0;
}

.content {
  max-width: 1440px;
  margin: auto;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.improvers,
.enzimas,
.emul,
.antiOx {
  width: 100%;
  /* height: 400px; */
  border-radius: 8px;
  padding: 24px;
  position: relative;
}

.title {
  color: var(--color-secondary);
  margin-bottom: 24px;
}

.text {
  font-size: 14px;
  color: white;
}

.image {
  width: inherit;
  height: inherit;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: white;
}

.listContainer {
  margin-top: 24px;
}

.check {
  color: var(--color-secondary);
}

.benefits{
    background: white;
}

@media (min-width: 640px) {
  .content {
    width: 1140px;
    margin: auto;
  }

  .improvers,
  .enzimas,
  .emul,
  .antiOx {
    width: 600px;
    margin: auto;
    background-color: var(--hover-section);
  }

  .improvers,
  .emul {
    margin: auto;
    margin-left: 0;
  }

  .imageContainer {
    width: 300px;
    height: 90px;
    background-color: black;
  }

  .enzimas,
  .antiOx {
    margin: auto;
    margin-right: 0;
  }
}
